.login {
    
    width: 400px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%); 
    background: #ffff;
    border: 1px solid #dddfe2;
    position: relative;  }  
  
  .login > input {

      border: 2px solid rgb(160, 92, 151);
      color: #1c2127;
      font-size: 1rem;
      padding: 0.4rem;
      width: 100%;
      margin: 0.5rem 0;
      border-radius: 6px;
      outline: none;
      cursor: pointer;
  }
  .login > .button {
      background: rgb(171, 107, 153);
      border: 1px solid rgb(178, 96, 163);
      color: #f0f2f5;
      font-size: 1.15rem;
      padding: 0.5rem;
      margin: 0.1rem ;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      width: 200px;

  }
  h2{
    text-align: center;
    color:rgb(16, 139, 177);
  } 